<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robrotheram.cs235a5"
    android:installLocation="auto"
    android:versionCode="3"
    android:screenOrientation="landscape"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />
    <!-- Permission: Allow Connect to Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permission: Writing to SDCard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        
        android:description="@string/Desc"
        
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/icon"
        android:theme="@style/LightThemeSelector" >
        <activity
            android:name="com.robrotheram.cs235a5.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="landscape"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                
                


              
            </intent-filter>
        </activity>
<activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:exported="false"
            android:icon="@drawable/icon"
            android:label="@string/chooser_title"
            android:theme="@style/ChooserTheme"
             android:screenOrientation="landscape"
              >
            
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        
        
        <activity
            android:name="com.robrotheram.cs235a5.Setting"
            android:parentActivityName="com.robrotheram.cs235a5.MainActivity" 
             android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
    </application>

</manifest>